.App {
  font-family: sans-serif;
  text-align: center;
}

.search-container {
  border: 1px solid black;
  width: 300px;
  display: flex;
  align-items: center;
  padding: 3px;
  border-radius: 3px;
}

.search-button {
  background: none;
  border: none;
}
